{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:unicorn/all",
    "plugin:jsdoc/recommended",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": [
    "coverage",
    "dist",
    "scripts",
    "website",
    "*rc.js",
    "*.config.js"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "no-only-tests"
  ],
  "rules": {
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-duplicates": "off",
    "import/no-unresolved": "error",
    "node/no-missing-import": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "@typescript-eslint/member-ordering": "error",
    "unicorn/filename-case": "off",
    "unicorn/import-style": "off",
    "unicorn/no-array-callback-reference": "off",
    "unicorn/no-array-for-each": "off",
    "unicorn/no-array-method-this-argument": "off",
    "unicorn/no-unused-properties": "off",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-string-replace-all": "off",
    "jsdoc/require-jsdoc": "off"
  },
  "overrides": [
    {
      "files": [
        "**/__mocks__/*.ts",
        "**/__tests__/*.ts",
        "**/__utils__/*.ts",
        "*.test.ts"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "node/no-unpublished-import": "off",
        "node/no-extraneous-import": "off",
        "no-only-tests/no-only-tests": "error"
      }
    }
  ]
}
